body {
  background-color: white !important; /* Pastikan background putih */
  color: black !important; /* Pastikan teks berwarna hitam */
  margin: 0;
  padding-top: 1rem; /* Memberikan ruang di atas untuk navbar */
  padding-left: 2rem; /* Memberikan ruang di kiri */
  min-height: 100vh; /* Pastikan tinggi badan 100% layar */
  display: flex;
  flex-direction: column; /* Membuat konten dalam kolom */
}