/* src/CSS/CustomerTable.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  a {
    color: #007bff; /* Warna biru untuk link WhatsApp */
    text-decoration: none;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ddd;
  }