/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
  display: flex;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center; /* Memusatkan secara vertikal */
  z-index: 1000; /* Menentukan z-index untuk lebih tinggi */
}

.modal {
  background-color: white; /* Warna latar belakang modal */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow */
  max-width: 500px; /* Lebar maksimum untuk modal */
  width: 100%; /* Lebar 100% dari kontainernya */
  z-index: 1001; /* Menentukan z-index yang lebih tinggi agar modal berada di atas overlay */
}