table {
    width: auto; 
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #000; 
    table-layout: fixed;
    font-size: 14px; /* Ukuran font diperkecil */
  }
  
  
  
  th, td {
    padding: 5px; /* Padding diperkecil */
    text-align: left;
    border: 4px solid #ddd;  /* Border ditebalkan */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  th {
    font-weight: bold;
    color: #000; 
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  select {
    padding: 6px;
    font-size: 0.9em;
  }
  
  span {
    color: #28a745;
    font-weight: bold;
  }
  
  .table-wrapper {
    max-height: calc(5 * 30px); /* Max-height diperkecil */
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  div[style*="overflowX: auto"] {
    max-width: 100%;
    overflow-x: auto;
  }